<ion-view view-title="Share"> <ion-content>


<div class="list card">

  <div class="item item-avatar">
    <img src="data/img/icon.png">
    <h2>AWS Certified Developer</h2>
    <p>Cloud Pros</p>
  </div>

  <div class="item item-body">
   <!--  <img class="full-image" src="delorean.jpg"> -->
    <p>
     Thank you for using our app. 
     <p>If you still have any questions or feedback about this app or its contents,
     please contact us either by email or facebook. Drop us a line at <strong>cloudpros1@gmail.com</strong>
    </p>
    <p>Or look up 'The Cloud Institute' on <strong> Facebook.</strong></p>
    <p>
     <!--  <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a> -->
      Thanks and all the best!
    </p>
  </div>

</div>

</ion-content> </ion-view>
