<ion-modal-view>
  <ion-header-bar class="bar-positive">

  </ion-header-bar>
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img height="150" width="150" ng-src="data/img/exam.jpg">
        <h2>AWS Developer</h2>

        <p>Explanation of the answer.</p>

      </div>

      <div class="item item-body">
        <stong>Explanation:</stong> {{explantion}}
        <p>
          Reference : 
          <a class="item" href="#" ng-click="openLink({{ref}})">
                  {{ref == "'undefined'" ? 'N.A' : ref}}
            </a>
        </p>
      </div>
      <div class="center">


        <button class="button button-positive" ng-click="closeExplanation(explanationTopic)">
 Close  
 
 
</button>
      </div>


    </div>


  </ion-content>
</ion-modal-view>